.my-header {
    background-color: purple;
}

.my-header .btn {
    background-color: purple;
    border-color: purple;
    color: white;
    height: 10%;
}

.my-header .btn:hover {
    background-color: rgb(85, 6, 85);
    border-color: purple;
}

.my-svg {
    filter: invert(100%);

}

.my-login-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.my-login-form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: auto; 
    margin-right: auto;
    align-content: space-around;
  }